.info-card {
  width: 375px;
  margin: auto;
  margin-top: auto;
  padding-bottom: 10%;
  /* længden af card */
}

.profile-avatar {
  margin: auto;
  float: right;
  height: 100px;
  width: 100px;
  margin-top: -20px;
}

.info-list {
  margin-top: auto;
}
