.signupCard {
  margin: auto;
  margin-top: auto;
}

.signupButton {
  width: 330px;
  margin-right: auto;
  margin-top: 10px;
}

.meewlinkSP {
  margin: 0 auto;
  margin-top: 40px;
  width: 277px;
}
